<input [formControl]="searchControl" placeholder="Search movies..." />
<div class="wrapper">
    <div class="successful-queries">
        <h1>Previous Searches:</h1>
        <ul>
            @for (query of successfulQueries; track $index) {
            <li (click)="searchControl.setValue(query)">{{ query }}</li>
            }
        </ul>
    </div>
    <div #viewport class="movie-viewport">
        @if (movies) { @for (movie of movies; track $index) {
        <div class="movie-item" (click)="openDetails($event, movie)">
            @if (movie) {
            <ng-container>
                <img [src]="movie.Poster" [alt]="movie.Title" />
                <div [innerHTML]="movie.Title | highlight : lastQuery"></div>
                <div>&nbsp;({{ movie.Year }})</div>
            </ng-container>
            } @else {
            <div>Loading...</div>
            }
        </div>
        } }
    </div>
    <div class="loading-indicator" [style.visibility]="(loading$ | async) ? 'visible' : 'hidden'">Loading...</div>
</div>
